.kontakt{
    width: 100%;
    height: 55em;
    padding-bottom: 2em;
    padding-top: 4em;
   }

   .kontaktHeading{
    width: 100%;
    height: 30%;
    margin: 0;
    color: black;
    text-align: center;
}

.kontaktContent{
    width: 90%;
    height: 70%;
    margin-left: 5%;
}

.kontaktInfo{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    text-align: left;
    float: left;
}

.kontaktInfo h2, h3{
    color: orange;
    text-align: left;
}

.kontaktInfo p{
    text-align: left;
}

.kontaktForm{
    width: 100%;
    height: 50%;
    float: left;
}

form input, textarea{
    width: 95%;
    margin: 1em;
    text-align: left;
}

form button{
    margin: 1em;
    float: right;
}

/*För Ipad*/
@media screen and (min-width: 768px){
.kontakt{
    height: 40em;
}

    .kontaktContent{
        width: 98%;
        margin-left: 1%;
        }

        .kontaktInfo{
            width: 30%;
            height: 100%;
        }
        
        .kontaktForm{
            width: 50%;
            height: 100%;          
        }
}

/*För större skärmar*/
@media screen and (min-width: 1224px){
   
   .kontaktContent{
    width: 81.8%;
    height: 30em;
    margin-left: 9.1%;
   }
   }
   @media screen and (min-width: 1920px){
    .kontakt{
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        height: 60em;
        }
}