.kontakt{
    width: 100%;
    padding-bottom: 2em;
    padding-top: 4em;
    background-color: white;
   }

   .kontaktHeading{
    width: 100%;
    margin: 0;
    color: black;
    text-align: center;
}

.kontaktContent{
    width: 90%;
    height: 30em;
    margin-left: 5%;
    margin-bottom: 5%;

}

.kontaktInfo{
    width: 100%;
    color: white;
}

.kontaktForm{
    width: 100%;

}

/*För Ipad*/
@media screen and (min-width: 768px){
    .kontaktContent{
        width: 98%;
        margin-left: 1%;
 
        }

        .kontaktInfo{
            width: 50%;
            color: white;
        }
        
        .kontaktForm{
            width: 50%;
            
        }
}

/*För större skärmar*/
@media screen and (min-width: 1224px){
   
   .kontaktContent{
    width: 81.8%;
    height: 35em;
    margin-left: 9.1%;
   }
   }