.kontakt{
    width: 90%;
    padding: 5%;
}

.kontaktInfo{
    width: 100%; 
}

.kontaktInfo h2, h3{
    color: orange;
}

.kontaktForm{
    width: 100%;
}

form input, textarea{
    width: 95%;
    margin: 1em;
    text-align: left;
}

form button{
    margin: 1em;
    float: right;
}

/*För Ipad*/
@media screen and (min-width: 768px){
        .kontakt{
            width: 80%;
            margin-bottom: 20%;
            padding: 10%;
            }
    
            .kontaktInfo{
                width: 30%;
                padding-left: 10%;
                padding-right: 10%;
               float: left;
               text-align: left;
            }
            
           .kontaktInfo h2, .kontaktInfo h3, .kontaktInfo p{
            text-align: left;
           }

            .kontaktForm{
                width: 50%;
                float: left;
                       
            }
    }
    
/*För större skärmar*/
@media screen and (min-width: 1024px){    
    
}
    