#startsida{
    background-color: #3e4b4b;
}

.startsidaTop{
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.startsidaTop img{
    width: 40%;
    height: auto;
    text-align: center;
}

.startsidaBotten{
    height: 60%;
}