#startsida{
    background: linear-gradient(#ffffffe7, #ffffffe7),url('../bilder/bg2.jpeg');
    background-size: auto 100%;
}

.startsidaTop{
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.startsidaTop img{
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.startsidaBotten{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.startsidaBottenInfo{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/*För Ipad*/
@media screen and (min-width: 768px){
    .startsidaBotten{
        background-color: #ffffffaa;
        float: left;
    }
    
    .startsidaBottenInfo{
        background-color: #ffffffaa;
        width: 22.5%;
        float: left;
    }
}

/*För större skärmar*/
@media screen and (min-width: 1024px){    

}