.tidigareProjekt{
    width: 100%;
    padding-bottom: 2em;
    padding-top: 4em;
    background: white;
   }

   .tidigareProjektHeading{
    width: 100%;
    margin: 0;
    color: black;
    text-align: center;
}

.tidigareProjektContent{
    width: 90%;
    height: 30em;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 1em;
}

/*För Ipad*/
@media screen and (min-width: 768px){
    .tidigareProjektContent{
        width: 98%;
        margin-left: 1%;
       
    }
}

/*För större skärmar*/
@media screen and (min-width: 1224px){
    .tidigareProjektContent{
        width: 81.8%;
        height: 47em;
        margin-left: 9.1%;
    }
   }