.tidigareProjekt{
    width: 100%;
    height: 45em;;
    padding-bottom: 2em;
    padding-top: 4em;
    background: #3e4b4b;
   }

   .tidigareProjektHeading{
    width: 100%;
    height: 25%;
    margin: 0;
    color: black;
    text-align: center;
}

.tidigareProjektContent{
    width: 90%;
    height: 30em;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 1em;
}

/*För Ipad*/
@media screen and (min-width: 768px){
    .tidigareProjektContent{
        width: 98%;
        height: 75%;
        margin-left: 1%;
       
    }
}

/*För större skärmar*/
@media screen and (min-width: 1224px){
    .tidigareProjektContent{
        width: 81.8%;
        margin-left: 9.1%;
    }
   }
   @media screen and (min-width: 1920px){
    .tidigareProjekt{
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        height: 60em;
        }
}