.fadeIn{
    opacity: 0;
  }

.swipeInFromLeft{
    position: relative;
    left: -200px
}

.swipeInFromRight{
    position: relative;
    right: -200px;
}

.swipeInFromBottom{
    position: relative;
    bottom: -2000px;
}

.swipeInFromTop{
    position: relative;
    bottom: 2000px;
}