#servicesHeading, #staffingHeading, #clientHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#servicesHeading h4, #staffingHeading h4, #clientHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#services{
    height: 184;
}

.service{
    width: 100%;
    height: 13em;
    float: left;
}

.services{
    width: 100%;
    height: 40em;
    float: left;
}

.services img{
    width: 100%;
    height: auto;
}

.services h3{
    padding-top: 0.5em;
    border-bottom: 1px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#staffing{
    height: 16em;
}

.staff{
    width: 100%;
    height: 8em;
    float: left;
}

#clients{
    height: 20em;
}

.client{
    width: 100%;
    height: 8em;
    float: left;
}

#formerClients{
    height: 37em;
    margin-bottom: 2em;
}

.opinion{
    width: 90%;
    padding: 5%;
    border-bottom: 1px solid white;
}

.opinion p, .opinion h5{
    color: white;
} 

@media screen and (min-width: 480px){
    #services{
        height: 204;
    }

    .service{
        height: 12em;
    }
    
    .services{
        height: 45em;
    }

    #formerClients{
        height: 35em;
    }
}


@media screen and (min-width: 768px){ 
    #services{
        height: 92em;
    }

    .service{
        width: 45%;
        height: 12em;
        padding-right: 5%;
    }

    .services{
        width: 46%;
        height: 40em;
        padding-left: 2%;
        padding-right: 2%;
    }

    #staffing{
        height: 8em;
    }
    
    .staff{
        width: 45%;
        padding-right: 5%;
        height: 8em;
        float: left;
    }
    
    #clients{
        height: 9em;
    }
    
    .client{
        width: 45%;
        padding-right: 5%;
        height: 8em;
        float: left;
    }

    #formerClients{
        height: 27em;
    }

    .opinion{
        width: 40%;
        padding: 5%;
        float: left;
        border-bottom: none;
    }
}

@media screen and (min-width: 1024px){
    #services{
        height: 50em;
    }

    .services{
        width: 21%;
        height: 26em;
    }

    #formerClients{
        height: 24em;
    }
}