#doADifferenceHeading, #qualityHeading, #applyHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#doADifferenceHeading h4, #qualityHeading h4, #applyHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#offer{
    height: 64em;
}

.offerLeft{
    width: 100%;
    height: 32em;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offerRight{
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2em; 
    margin-top: 4em;
    height: 28em;
    float: left;
    background: linear-gradient(rgba(12, 184, 181, 0.7), rgba(12, 184, 182, 0.7)),url('../bilder/green.jpg');
    background-size: auto 100%;
    color: white;
}

.offerRight h1, .offerRight h3, .offerRight h4{
    font-weight: normal;
}

#qualityHeading{
    background-color: rgb(235, 235, 235);
}

#quality{
    height: 48em;
    background-color: rgb(235, 235, 235);
}

.qualityLeft{
    width: 100%;
    height: 17em;
    margin-bottom: 1em;
    float: left;
    background: linear-gradient(rgba(12, 184, 181, 0.2), rgba(12, 184, 182, 0.2)),url('../bilder/meeting.JPG');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.qualityRight{
    width: 100%;
    height: 30em;
    float: left;
}

#bliKonsultContactForm{
    height: 71.5em;
}

.bliKonsultContactFormLeft{
    width: 100%;
    height: 18em;
    float: left;
}

.bliKonsultContactFormRight{
    width: 100%;
    height: 49.5em;
    float: left;
}



@media screen and (min-width: 480px){
    #offer{
        height: 64em;
    }

    .offerLeft{
        width: 100%;
        height: 29em;
    }
    
    .offerRight{
        height: 31em;
    }

    
#quality{
    height: 40em;
}

.qualityLeft{

    height: 17em;
}

.qualityRight{

    height: 22em;
}

    #bliKonsultContactForm{
        height: 65.5em;
    }

    .bliKonsultContactFormRight{
        height: 47.5em;
    }

    .bliKonsultContactFormLeft{
        padding-right: 5%;
        height: 15em;
    }
}


@media screen and (min-width: 768px){
    #doADifferenceHeading{
        width: 50%;
    }

    #offer{
        height: 37em;
    }

    .offerLeft{
        width: 45%;
        height: 37em;
        padding-right: 5%;
    }
    
    .offerRight{
        width: 40%;
        height: 37em;
    }

    #quality{
        height: 26em;
    }

    #qualityHeading{
        width: 45%;
        padding-left: 55%;
        padding-right: 0;
    }

    .qualityLeft{       
        width: 50%;
        height: 21em;
        margin-bottom: 5em;
    }
    
    .qualityRight{
        width: 45%;
        height: 26em;
        padding-left: 5%;
    }

    #bliKonsultContactForm{
        height: 50em;
    }

    .bliKonsultContactFormLeft{
        width: 25%;
        height: 47.5em;
        padding-right: 5%;
    }
    
    .bliKonsultContactFormRight{
        width: 70%;
    }
}

@media screen and (min-width: 1024px){
    #doADifferenceHeading{
        width: 50%;
        float: left;
    }

    #offer{
        height: 33em;
    }

    .offerLeft{
        height: 33em;
        padding-right: 5%;
    }
    
    .offerRight{
        height: 33em;
        width: 40%;
    }  

    #quality{
        height: 22em;
    }

    .qualityLeft{
        height: 17em;
        margin-bottom: 5em;
        background-size: 100% auto;
        width: 50%;
    }
    
    .qualityRight{
        width: 45%;
        height: 22em;
        padding-left: 5%;
    }

    .bliKonsultContactFormLeft{
        width: 25%;
        padding-right: 2.5%;
        border-right: 2px solid rgb(12, 184, 182);
    }
    
    .bliKonsultContactFormRight{
        width: 69%;
        margin-left: 2.5%;
    }
}