#startTop{
    height: 35em;
    padding-left: 0;
    padding: 0;
}

.startTopText{
    width: 70%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: 2.5%;
    margin-right: 22.5%;
    height: 30em;
    padding-top: 5em;
    background-color: rgba(12, 184, 182, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
}

#servicesHeading, #newsHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#servicesHeading h4, #newsHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#services{
    height: 42em;
}

.services{
    width: 46%;
    height: 21em;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    text-align: center;
}

.services img{
    width: 100%;
    height: auto;
}

.services h3{
    font-size: 90%;
    padding-top: 0.5em;
    border-bottom: 1px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.news{
    height: 22em;
    overflow: hidden;
    position: relative;
    margin: auto;
    color: white;
}
  
  .numbertext {
    color:white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(12, 184, 182);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
  }
  
  .next {
    right: 2%;
  }

  .prev {
    left: 2%;
  }

  .prev:hover, .next:hover {
    color: white;
    background-color: rgba(12, 184, 182, 0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }

  #button{
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
    background-color:  rgb(12, 184, 182);
    border: 1px solid rgb(12, 184, 182); 
}

#button:hover{
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  float: right;
  color: rgb(12, 184, 182);
  background-color:  white;
  border: 1px solid rgb(12, 184, 182); 
}
  
  @-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }

  .publicerat{
      font-style: italic;
      font-size: 75%;
  }

  .news1{
    width: 100%;
    height: 22em;
    float: left;
}

.news1Left{
    display: none;
  width: 100%;
  height: 22em;
  float: left;
  background-image: url(../bilder/news/news1.jpg);
  background-size: auto 100%;
}

.news1Right{
    width: 90%;
    height: 22em;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .news2{
      width: 100%;
      height: 22em;
      float: left;
  }

  .news2Left{
    width: 86%;
    height: 22em;
    padding-left: 7%;
    padding-right: 7%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news2Right{
    width: 20%;
    height: 22em;
    padding-right: 15%;
    float: left;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .news2Right img{
      width: 100%;
      height: 35%;
  }


@media screen and (min-width: 480px){
    .startTopText{
        width: 50%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-left: 2.5%;
        margin-right: 42.5%;
        height: 30em;
        padding-top: 5em;
    }

    .news2Right img{
        width: 100%;
        height: 25%;
    }

    #services{
        height: 46em;
    }
    
    .services{
        width: 46%;
        height: 23em;
        padding-left: 2%;
        padding-right: 2%;
    }

    .services h3{
        font-size: 100%;
    }
}

@media screen and (min-width: 768px){ 
    .startTopText{
        width: 40%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 45%;
        height: 30em;
        padding-top: 5em;
    }

    .news2Left{
        width: 50%;
        height: 22em;
        padding-left: 10%;
        padding-right: 5%;
    }

    .news2Right{
        display: flex;
    }

    .news2Right img{
        width: 100%;
        height: 20%;
    }

    .news3Left{
        width: 55%;
        padding-left: 15%;
    }

    #services{
        height: 60em;
    }

    .services{
        width: 46%;
        height: 30em;
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (min-width: 1024px){
    .startTopText{
        width: 30%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 55%;
        height: 30em;
        padding-top: 5em;
    }

    .news1{
        width: 100%;
    }

    .news1Right{
        width: 40%;
    }
    
    .news1Left{
      width: 45%;
      padding-left: 5%;
      background-size: auto 100%;
      display: flex;
    }

    .news2Right img{
        width: 100%;
        height: 27%;
    }

    #services{
        height: 24em;
    }

    .services{
        width: 21%;
        height: 24em;
    }
}


@media screen and (min-width: 1440px){
    .startTopText{
        width: 20%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10%;
        margin-right: 60%;
        height: 30em;
        padding-top: 5em;
    }

    #services{
        height: 27em;
    }

    .news{
        background-color: rgba(12, 184, 182, 0.8);
    }

    .news1Left{
        background-size: 100% auto;
      }

    .news2Right img{
        width: 100%;
        height: 35%;
    }

    .services{
        width: 21%;
        height: 27em;
    }
}