#contactHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#contactHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}



#contactForm{
    height: 50em;
}

#kontaktContactForm{
    height: 45em;
    margin-bottom: 2em;
   }
   
   .kontaktContactFormLeft{
       width: 100%;
       height: 35em;
       float: left;
      
   }
   
   .kontaktContactFormRight{
       width: 100%;
       height: 10em;
       float: left;
   }

@media screen and (min-width: 480px){

}


@media screen and (min-width: 768px){
    #kontaktContactForm{
        height: 40em;
        margin-bottom: 2em;
       }
       
       .kontaktContactFormLeft{
           width: 70%;
           height: 40em;
       }
       
       .kontaktContactFormRight{
           width: 25%;
           height: 40em;
           padding-left: 5%
       }
}

@media screen and (min-width: 1024px){
    #kontaktContactForm{
        height: 45em;
        margin-bottom: 2em;
       }
       
       .kontaktContactFormLeft{
           width: 69%;
       height: 45em;
       margin-right: 2.5%;
       
       }
       
       .kontaktContactFormRight{
           width: 25%;
       height: 45em;
       padding-left: 2.5%;
       border-left: 2px solid rgb(12, 184, 182);
       }
}