#offerHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#offerHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#offer{
height: 11em;
}

#offertForfraganContactForm{
 height: 54em;
 margin-bottom: 4em;
}

.offertForfraganContactFormLeft{
    width: 100%;
    height: 54em;
    float: left;


}

.offertForfraganContactFormRight{
    width: 100%;
    height: 0em;
    float: left;
}

@media screen and (min-width: 480px){
    #offer{
        height: 9em;
        }
}


@media screen and (min-width: 768px){
    #offer{
        height: 6em;
        }
        
        .offertForfraganContactFormLeft{
            width: 70%;
        }
        
        .offertForfraganContactFormRight{
            width: 25%;
            height: 54em;
            padding-left: 5%
        }
}

@media screen and (min-width: 1024px){
    #offer{
        height: 6em;
        }
        
        .offertForfraganContactFormLeft{
        width: 69%;
        margin-right: 2.5%;
        
        }
        
        .offertForfraganContactFormRight{
        padding-left: 2.5%;
        border-left: 2px solid rgb(12, 184, 182);
        }
}