#offerHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#offerHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#offer{
height: 11em;
}

#offertForfraganContactForm{
    height: 76em;
    }

.offertForfraganContactFormRight{
    width: 100%;
    height: 54em;
    float: left;
}

.offertForfraganContactFormLeft{
    width: 100%;
    height: 18em;
    float: left;
}

@media screen and (min-width: 480px){
    #offer{
        height: 9em;
        }

        #offertForfraganContactForm{
            height: 74em;
           }
           
           .offertForfraganContactFormRight{
               height: 54em;
           }
           
           .offertForfraganContactFormLeft{
               height: 16em;
           }
}


@media screen and (min-width: 768px){
    #offer{
        height: 6em;
        }

        #offertForfraganContactForm{
            height: 58em;
           }
        
        .offertForfraganContactFormRight{
            width: 70%;
        }
        
        .offertForfraganContactFormLeft{
            width: 25%;
            height: 54em;
            padding-right: 5%;
        }
}

@media screen and (min-width: 1024px){
    #offer{
        height: 6em;
        }
        
        .offertForfraganContactFormRight{
        width: 69%;
        margin-left: 2.5%;
        
        }
        
        .offertForfraganContactFormLeft{
        padding-right: 2.5%;
        border-right: 2px solid rgb(12, 184, 182);
        }
}