#valuesHeading, #ceoHeading, #ourTeamHeading{
    padding-top: 4em;
    padding-bottom: 2em;
}

#valuesHeading h4, #ceoHeading h4, #ourTeamHeading h4{
    width: fit-content;
    font-weight: normal;
    border-bottom: 2px solid rgb(12, 184, 182);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#values{
  height: 72em; 
}

.value{
   width: 98%;
   padding-right: 2%;
   height: 12em;
   float: left; 
}

.valueText{
    width: 80%;
    height: 100%;
    float: left; 
}

.valueText p{
    font-weight: 100; 
}

.valueImg{
    width: 20%;
    height: 100%;
    float: left;
}

.valueImg img{
    width: 75%;
    height: 30%;
    overflow: hidden;
}

.valueImg img:hover{
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
}

#ceoHeading{
    background-color: rgb(235, 235, 235);
}

#ceoSpeaks{
    height: 80em;
    background-color: rgb(235, 235, 235);
}

.corpInfo{
    font-style: italic;
    border-bottom: 1px solid  rgba(12, 184, 182);
}

.ceoSpeaksLeft{
    width: 25%;
    height: 100%;
    float: left;
    background: url('../bilder/OmOss/vd.JPG');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: center;    
}

.ceoSpeaksRight{
    width: 70%;
    height: 100%;
    padding-left: 5%;
    float: left;
}

#ourTeam{
   height: 600em;
}

.teamMate{
    width: 100%;
    height: 50em;
    float: left;
}

.teamMateImg{
    width: 100%;
}

.teamMateImg img{
    width: 100%;
    height: auto;
}

.teamMateInfo{
    width: 100%;
}

.teamMateInfo h3{
    color: rgba(12, 184, 182);
}


.teamMateInfo h3, .teamMateInfo h4{
    font-weight: normal;
}

.teamMateInfo p{
    font-size: 0.85em;
}


@media screen and (min-width: 480px){
    #ceoSpeaks{
        height: 78em;
    }

    #ourTeam{
        height: 960em;
     }
     
     .teamMate{
         height: 80em;
     }
}


@media screen and (min-width: 768px){
    #values{
        height: 36em;  
      }

    .value{
       width: 48%; 
    }

    #ceoSpeaks{
        height: 48em;
    }

    #ourTeam{
        height: 160em;
    }

    .teamMate{
        width: 31.2%;
        height: 40em;
        margin-left: 1%;
        margin-right: 1%;
    }
}

/*För MacBook 13"*/
@media screen and (min-width: 1024px){
    #values{
        height: 24em;  
      }

    .value{
       width: 31%; 
    }

    #ceoSpeaks{
        height: 40em;
    }

    #ourTeam{
        height: 126em
    }

    .teamMate{
        width: 23%;
        height: 42em;
    }
}