*{
    margin: 0;
    padding: 0;
}

html, body, h1, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-weight: 100; 
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrap {
    padding-bottom: 2.5rem;
}

.top{
    width: 100%;
    height: 10em;
    background: linear-gradient(rgba(12, 184, 181, 0.867), rgba(12, 184, 182, 0.867)),url('../bilder/topImage.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top h1, .top h3{
    opacity: 0;
    color: white;
    padding-left: 10%;
}

.container{
    width: 96%;
    height: fit-content;
    padding-left: 2%;
    padding-right: 2%;
}

#contact{
    height: 8em;
    background-color: rgb(254, 104, 50);
    color: white;
    margin-bottom: 2em;
}

.contactLeft{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.contactRight{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    text-align: center;
}

.contactRight a{
    text-decoration: none;
    color: white;
}

.contactBtn:hover{
    color: black;
    background-color: white;
}

.contactBtn{
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 2px solid white;
}

.contactBtn:hover{
    background-color: white;
}

#foot{
    position: absolute;
    bottom: 0;
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#foot p{
    font-size: 0.85em;
    color: grey;
}

#foot a{
    text-decoration: none;
    color: grey;
}

#foot a:hover{
    text-decoration: none;
    color: rgba(12, 184, 182);
}

/*För Ipad*/
@media screen and (min-width: 768px){
    .contactRight{
        width: 30%;
    }

    .contactLeft{
        width: 70%;
    }

    .contactBtn{
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/*För MacBook 13"*/
@media screen and (min-width: 1024px){

    .contactRight{
        width: 20%;
    }

    .contactLeft{
        width: 80%;
    }

}

@media screen and (min-width: 1440px){
    .container{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}
