.header{
    border-bottom: 2px solid white;
    background-color: black; 
}

#logo, #menuImage{
    -webkit-filter: invert(100%);
}

.menuBtn a{
    color: white;
}


h2, h3, h5, h6{
    position: relative;
    text-align: center;
}

h6{
    color: rgb(110, 150, 150);
}

#topImage h6{
    padding-top: 9em;
}

h5{
    padding-top: 1em;
    color: rgb(110, 150, 150);
}

h2, h3{
    color: white;
}

#topImage{
    height: 25em;
    background-image: url(../bilder/top/tidigareProjektTop.jpg);
    background-size: auto 100%;
    background-position-y: center;
    background-position-x: center;
    border-bottom: 2px solid white;
    position: relative;
    z-index: 1;   
}

#projects{
    height: 63em;
    padding-bottom: 5em;
}

.homepageInfo, .homepageInfo2{
    background-color: rgb(244, 247, 249);
    width: 96%;
    height: 19em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homepageInfo h3, .homepageInfo2 h3{
    font-weight: normal;
    padding-left: 10px;
}

.homepageInfo p, .homepageInfo2 p{
    padding-top: 1em;
}

.homepageInfo a, .homepageInfo2 a{
    color: black;
    text-decoration: none;
}

.project4{
    position: relative;
    width: 100%;
    padding-top: 0em;
    float: left;
}

.projectTop{
    width: 100%;
    height: 15em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectTop img{
    height: 100%;
}

.projectBottom{
    width: 100%;
    height: 4em;
    background-color: rgb(211, 211, 211);
}

@media screen and (min-width: 480px){

}


/*För Ipad*/
@media screen and (min-width: 768px){
    #topImage{
        background-size: 100% auto;
    }

    #projects{
        height: 25em;
        padding-bottom: 5em;
    }

    .homepageInfo, .homepageInfo2{
        width: 30.8%;
        height: 14em;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }
    
    .projectTop{
        height: 10em;
    }

    .projectBottom{
        height: 4em;
    }
}


/*För MacBook 13"*/
@media screen and (min-width: 1024px){
    .homepageInfo, .homepageInfo2{
        height: 16em;
    }
    
    .projectTop{
        height: 12em;
    }

    .projectBottom{
        height: 4em;
    }

    .projectTop img{
        height: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

.project4:hover .projectTop img{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    
.project4:hover{
        opacity: 1;
    }

}

@media screen and (min-width: 1440px){
    .homepageInfo, .homepageInfo2{
        height: 19em;
    }
    
    .projectTop{
        height: 15em;
    }

    .projectBottom{
        height: 4em;
    }
}