#varaTjanster2{
    background-color: whitesmoke;
}

.tjanster2{
    background-color: white;
    width: 86%;
    height: 8em;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

/*För Ipad*/
@media screen and (min-width: 768px){
    .tjanster2{
        width: 40%;
        height: 15%;
        margin: 3%;
        float: left;
        box-shadow: 5px 5px 2.5px 0 rgba(0, 0, 0, 0.2), 8px 8px 4px 0 rgba(129, 74, 74, 0.19);
    }
}

/*För större skärmar*/
@media screen and (min-width: 1024px){
    .tjanster2{
        width: 25%;
        height: 15%;
        margin: 2%;
        float: left;
    }
}