html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 4em;
    background-color: darkgreen; 
}

.innerBody{
    width: 90%;
    height: 40em;
    margin-left: 5%;
    background-color: darkblue;
}