#top{
    background: linear-gradient(#ffffff6d, #ffffff6d),url('../bilder/bg1.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.topTop{
    height: 70%;
    text-align: center;
   
}

.topTop img{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
}

.topBottom{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.topInfo{
    background-color: #ffffffaa;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/*För Ipad*/
@media screen and (min-width: 768px){
    .topInfo h1, .topInfo h2, .topInfo p{
        text-align: left;
    }

    .topTop{
        height: 40%;
    }
    
    .topTop img{
        width: 40%;
        margin-bottom: 0;
    }

    .topBottom{
        background-color: #ffffffaa;
    }
    
    .topInfo{
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
        width: 65%;
        position: absolute;
        top: 45%;
        left:0;
        border-radius: 0 20px 20px 0;
        opacity: 0;
    }

    .topBtn{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
        left: 0;
        position: absolute;
        top: 85%;
        opacity: 0;
    }
}

/*För större skärmar*/
@media screen and (min-width: 1024px){  
    #top{
        background-size: 100% auto;
    }

    .topInfo{
        width: 45%;
    }
}