.contactForm{
  width: 100%;
   
}

form input, textarea, select, option{
  font-size: 100%;
  color: black;
  width: 98.6%;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 0.2em;
  padding: 0.7%;
  border: none;
  background-color: rgba(110, 150, 150, 0.15);
}


input:active{
  border-color: rgba(110, 150, 150);
}

form label{
  color: rgba(110, 150, 150);
  text-align: left;
  width: 95%;
  
}

#file{
  font-size: 80%;
  background-color: inherit;
}

#buttonMail{
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  float: right;
  color: white;
  background-color: rgba(110, 150, 150);
  border: none; 
  margin-right: 5%;
}

#buttonMail:hover{
  color: rgba(110, 150, 150);
  background-color: white;
  border: 1px solid rgba(110, 150, 150); 
}

#checkbox{
  margin-right: 1em;
}

form #lastName{
  display: none;
}

/*För Ipad*/
@media screen and (min-width: 768px){
  .contactForm{
    width: 100%;
    float: left;                      
  }
}
    
/*För större skärmar*/
@media screen and (min-width: 1024px){    

}
    