*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body{
    background-image: url(../bilder/top/startPage.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;

    overflow: hidden;
}

.page{
    width: 100%;
    height: 100vh;
}

.content, .contentMiddle{
    height: 100%;
    float: left;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    width: 25%;
}

.contentMiddle{
    width: 50%;
}

.contentMiddle img{
    width: 100%;
}

.buttonBox{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 15em;
}

#button{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    float: left;
    color: white;
    background-color: rgb(110, 150, 150);
    border: 1px solid rgb(110, 150, 150); 
  }
  
  #button:hover{
    color: rgb(110, 150, 150);
    background-color: white;
  }

  .fadeIn, .fadeIn2{ 
    opacity: 0;
  }

.swipeInFromBottom{
    position: relative;
    bottom: -2000px;
    opacity: 0.9;
}

.swipeInFromTop{
    position: relative;
    bottom: 2000px;
    opacity: 0.9;
}

@media screen and (min-width: 768px){
    .content, .contentMiddle{
        width: 33.3333%;
    }

    #button{
        width: 45%;
        margin-left: 27.5%;
        margin-right: 27.5%;
    }
}

@media screen and (min-width: 1024px){

    body{
        background-size: 100% auto;  
    }

    #button{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    }