body{
background-color: black;
}

.header{
    border-bottom: 2px solid white;
}

#logo, #menuImage{
    -webkit-filter: invert(100%);
}

.menuBtn a{
    color: white;
}


h2, h5, h6{
    text-align: center;
}

h6{
    padding-top: 27em;
    color: rgba(110, 150, 150);
}

h5{
    padding-top: 1em;
    color: rgba(110, 150, 150);
}

h2{
    color: white;
}

#topImage{
    height: 25em;
    background-image: url(../bilder/top/top2.jpg);
    background-size: auto 100%;
    background-position-y: center;
    border-bottom: 2px solid white;
}

#projects{
    height: 25em;
    padding-bottom: 5em;
}

.project1{
    width: 40%;
    padding-top: 5em;
    padding-left: 10%;
    height: 20em;
    float: left;
}

.project2{
    width: 40%;
    padding-top: 5em;
    padding-right: 10%;
    height: 20em;
    float: left;
}

.projectTop{
    width: 100%;
    height: 13em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectTop img{
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.projectBottom{
    width: 100%;
    height: 4em;
    background-color: lightgrey;
}

.project1:hover .projectTop img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.project2:hover .projectTop img{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
}



@media screen and (min-width: 480px){

}


/*För Ipad*/
@media screen and (min-width: 768px){
    #topImage{
        background-size: 100% auto;
    }
}

/*För MacBook 13"*/
@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}