#topImage{
    height: 25em;
    background-image: url(../bilder/top/vadViGorTop.jpg);
    background-size: auto 100%;
    background-position-y: center;
    background-position-x: center;
    border-bottom: 2px solid rgba(110, 150, 150);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    z-index: 1;   
}

h2, h6{
    text-align: center;
}

h6{
    color: rgba(110, 150, 150);
}

#topImage h6{
    padding-top: 15em;
}

#homepage{
    height: 51em;
}

.homepageInfo, .homepageInfo2{
    height: 16em;
}

.homepageInfo, .homepageInfo2, .packageInfo, .packageInfo2, .packageInfo3{
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1em;
    text-align: center;
}

.homepageInfo p, .homepageInfo2 p, .packageInfo p, .packageInfo2 p, .packageInfo3 p{
    padding-top: 3em;
}

.homepageInfo, .packageInfo, .packageInfo2{
    border-bottom: 1px solid rgba(110, 150, 150);
}

.homepageInfo a, .homepageInfo2 a, .packageInfo3 a{
    color: black;
    text-decoration: none;
}

.buttonContact{
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    background-color: rgba(110, 150, 150);
    border: 1px solid rgba(110, 150, 150); 
}

.homepageInfo a:hover, .buttonContact:hover{
    color: rgba(110, 150, 150);
    background-color: white;
  }

#middleImage{
    height: 25em;
    background-image: url(../bilder/top/vadViGorMiddle.jpg);
    background-size: auto 100%;
    background-position-y: center;
    border-top: 2px solid rgba(110, 150, 150);
    border-bottom: 2px solid rgba(110, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#middleImage h2{
    color: white;
}

#middleImage h6{
    padding-top: 26em;
}

#package{
    height: 55em;
}

.packageInfo{
    height: 18em;
}

.packageInfo2{
    height: 22em;
}

.packageInfo3{
    height: 12em;
}

.packageInfo ul, .packageInfo2 ul, .packageInfo3 ul{
    padding-top: 3em;
    padding-left: 15%;
    text-align: left;
}

.packageInfo li, .packageInfo2 li, .packageInfo3 li{
    padding-bottom: 1em;
}


@media screen and (min-width: 480px){
    #homepage, #package{
        height: 50em;
    }

    .homepageInfo, .homepageInfo2, .packageInfo, .packageInfo3{
        height: 14em;
    }

    .packageInfo2{
        height: 19em;
    }

    #middleImage h2, #middleImage h6{
        padding-left: 55%;
    }
}


/*För Ipad*/
@media screen and (min-width: 768px){
    #topImage{
        background-size: 100% auto;
    }

    #middleImage{
        background-size: 100% auto;
    }

    #homepage, #package{
        height: 30em;
    }

    .homepageInfo, .homepageInfo2, .packageInfo, .packageInfo2, .packageInfo3{
        width: 28.8%;
        height: 20em;
        margin-top: 5em;
        margin-bottom: 5em;
        float: left;
    }

    .homepageInfo, .packageInfo, .packageInfo2{
        border-right: 1px solid rgba(110, 150, 150);
        border-bottom: none;
    }
}

/*För MacBook 13"*/
@media screen and (min-width: 1024px){
    #homepage, #package{
        height: 30em;
    }

    .homepageInfo, .homepageInfo2, .packageInfo, .packageInfo2, .packageInfo3{
        width: 28.8%;
        height: 18em;
        margin-top: 6em;
        margin-bottom: 6em;
    }
}

@media screen and (min-width: 1440px){

}