#topImage{
    height: 25em;
    background-image: url(../bilder/top/top1.jpg);
    background-size: auto 100%;
    background-position-y: center;
    border-bottom: 2px solid rgba(110, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2, h6{
    text-align: center;
}

h6{
    color: rgba(110, 150, 150);
}

#homepage, #homepage2{
    height: 30em;
}

.homepageInfo, .homepageInfo2{
    width: 28.8%;
    padding-left: 2%;
    padding-right: 2%;
    height: 18em;
    margin-top: 6em;
    margin-bottom: 6em;
    float: left;
    text-align: center;
}

.homepageInfo p, .homepageInfo2 p{
    padding-top: 3em;
}

.homepageInfo{
    border-right: 1px solid rgba(110, 150, 150);
}

.buttonContact{
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    float: right;
    color: white;
    background-color: rgba(110, 150, 150);
    border: none; 
}

.buttonContact:hover{
    color: rgba(110, 150, 150);
    background-color: white;
    border: 1px solid rgba(110, 150, 150); 
  }

#middleImage{
    height: 25em;
    background-image: url(../bilder/top/top4.jpg);
    background-size: auto 100%;
    background-position-y: center;
    border-top: 2px solid rgba(110, 150, 150);
    border-bottom: 2px solid rgba(110, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#middleImage h2, #middleImage h6{
    padding-left: 55%;
}

#middleImage h2{
    color: white;
}

#middleImage h6{
    padding-top: 26em;
}


.homepageInfo ul, .homepageInfo2 ul{
    padding-top: 3em;
    padding-left: 15%;
    text-align: left;
}

.homepageInfo li, .homepageInfo2 li{
    padding-bottom: 1em;
}


@media screen and (min-width: 480px){
    #topImage{
        background-size: 100% auto;
    }

    #middleImage{
        background-size: 100% auto;
    }
}


/*För Ipad*/
@media screen and (min-width: 768px){

}

/*För MacBook 13"*/
@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}